---
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
FixNamespaceComments: 'true'
NamespaceIndentation: All
IndentWidth: 4
ColumnLimit: 120
MaxEmptyLinesToKeep: 2
BinPackParameters: 'false'

...
