build_master_debug/
build_master_gex_debug/
build_master_release/
build_master_gex_release/
build_cr_debug/
build_cr_gex_debug/
build_cr_release/
build_cr_gex_release/
build_cr_cuda_debug/
build_cr_cuda_release/
build_cr_gex_cuda_debug/
build_cr_gex_cuda_release/
build_cr_gex_nocuda_debug/
build_cr_gex_nocuda_release/
build_cr_nocuda_debug/
build_cr_nocuda_release/
build_master_cuda_debug/
build_master_cuda_release/
build_master_gex_cuda_debug/
build_master_gex_cuda_release/
build_master_gex_nocuda_debug/
build_master_gex_nocuda_release/
build_master_nocuda_debug/
build_master_nocuda_release/
include/
__pycache__/
.vscode/
