build_kokkos_cuda/cr_debug/
build_kokkos_cuda/cr_gex_debug/
build_kokkos_cuda/cr_gex_release/
build_kokkos_cuda/cr_release/
build_kokkos_cuda/master_debug/
build_kokkos_cuda/master_gex_debug/
build_kokkos_cuda/master_gex_release/
build_kokkos_cuda/master_release/
build_kokkos_nocuda/cr_debug/
build_kokkos_nocuda/cr_gex_debug/
build_kokkos_nocuda/cr_gex_release/
build_kokkos_nocuda/cr_release/
build_kokkos_nocuda/master_debug/
build_kokkos_nocuda/master_gex_debug/
build_kokkos_nocuda/master_gex_release/
build_kokkos_nocuda/master_release/
build_nokokkos_cuda/cr_debug/
build_nokokkos_cuda/cr_gex_debug/
build_nokokkos_cuda/cr_gex_release/
build_nokokkos_cuda/cr_release/
build_nokokkos_cuda/master_debug/
build_nokokkos_cuda/master_gex_debug/
build_nokokkos_cuda/master_gex_release/
build_nokokkos_cuda/master_release/
build_nokokkos_nocuda/cr_debug/
build_nokokkos_nocuda/cr_gex_debug/
build_nokokkos_nocuda/cr_gex_release/
build_nokokkos_nocuda/cr_release/
build_nokokkos_nocuda/master_debug/
build_nokokkos_nocuda/master_gex_debug/
build_nokokkos_nocuda/master_gex_release/
build_nokokkos_nocuda/master_release/
build/
include/
__pycache__/
.vscode/
